<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900712331805-gd42ddkdesj81ecbt6grofg8j52la0jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900712331805-gd42ddkdesj81ecbt6grofg8j52la0jm</string>
	<key>API_KEY</key>
	<string>AIzaSyAEZrl9ecYxr1COeiTWsilRQv7qwc7vYZU</string>
	<key>GCM_SENDER_ID</key>
	<string>900712331805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alvaroarinocabau.RacoMobile</string>
	<key>PROJECT_ID</key>
	<string>elracomobile</string>
	<key>STORAGE_BUCKET</key>
	<string>elracomobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900712331805:ios:74d03d2ca68ad1fd7624f4</string>
	<key>DATABASE_URL</key>
	<string>https://elracomobile.firebaseio.com</string>
</dict>
</plist>